{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
  <div>
    <h1 class='display-1 text-bg-warning'>{{name}}</h1>
  </div>
  <hr />

  <div>
    {{#each users}}
      <strong class='text-bg-primary'>users:</strong>
      <ul>
        <li>id: {{id}}</li>
        <li>name: {{name}}</li>
        <li>gender: {{gender}}</li>
        <li>age: {{age}}</li>
      </ul>

      <div>
        {{#each friends}}
          <strong
            class='text-bg-secondary'
          >friends:</strong>
          <ul>
            <li>id: {{id}}</li>
            <li>name: {{name}}</li>
            <li>gender: {{gender}}</li>
            <li>age: {{age}}</li>
          </ul>

          <div>
            {{#each mutual_friends}}
              <strong
                class='text-bg-info'
              >mutual_friends:</strong>
              <ul>
                <li>id: {{id}}</li>
                <li>name: {{name}}</li>
                <li>gender: {{gender}}</li>
                <li>age: {{age}}</li>
              </ul>

            {{/each}}
          </div>

        {{/each}}
      </div>

      <div>
        {{#each groups}}
          <strong class='text-bg-warning'>groups:</strong>
          <ul>
            <li>id: {{id}}</li>
            <li>name: {{name}}</li>
            <li>description: {{description}}</li>
          </ul>

          <div>
            {{#each members}}
              <strong
                class='text-bg-danger'
              >members:</strong>
              <ul>
                <li>id: {{id}}</li>
                <li>name: {{name}}</li>
                <li>gender: {{gender}}</li>
                <li>age: {{age}}</li>
              </ul>

            {{/each}}
          </div>

        {{/each}}
      </div>

    {{/each}}
  </div>

</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}