{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main>
  {{#with navigation}}
    <div class='card'>
      <div class='nav'>
        {{#each links}}
          <div class='nav-item'>
            <a href='{{href}}' class='nav-link'>{{text}}</a>
          </div>
        {{/each}}

        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>Disabled</a>
        </div>

      </div>
    </div>
  {{/with}}

  <br />
  <br />

  {{#with newsBlock}}
    <div class='text-center'>
      <strong class='display-3'>{{title}}</strong>
    </div>
    <div class='row'>
      {{#each cards}}
        <div class='col-3 gy-3'>
          <div class='card text-bg-dark'>
            <div class='card-body'>
              <div class='card-title'>
                <strong>
                  {{title}}
                  {{#if isTop}}
                    <span
                      class='badge text-bg-danger rounded-pill'
                    >
                      Топ
                    </span>
                  {{/if}}
                  {{#if isTop}}
                    <span
                      class='badge text-bg-success rounded-pill'
                    >
                      Нова
                    </span>
                  {{/if}}
                </strong>
              </div>
              <div>
                <p>{{description}}</p>
              </div>

            </div>
          </div>
        </div>

      {{/each}}
    </div>
  {{/with}}
  <br />
  <hr />
  <br />

  {{#with goodsBlock}}
    <div class='nav nav-tabs'>
      {{#each tabs}}

        <div class='nav-item'>
          {{#if isActive}}
            <a href='#' class='nav-link active'>
              {{text}}
            </a>
          {{else}}
            {{#if isDisabled}}
              <a href='#' class='nav-link disabled'>
                {{text}}
              </a>
            {{else}}
              <a href='#' class='nav-link'>
                {{text}}
              </a>
            {{/if}}
          {{/if}}
        </div>

      {{/each}}
    </div>

    <div class='row my-5'>
      {{#each cards}}
        <div class='col-4 gy-3'>
          <div class='card'>
            <div>
              <img
                class='card-img-top'
                src='{{image}}'
                alt='{{title}}'
              />
            </div>
            <div class='card-body'>

              <strong class='card-title'>{{title}}
                {{#if isHot}}
                  <span
                    class='badge text-bg-warning rounded-pill'
                  >HOT!</span>
                {{/if}}
                {{#if isNew}}
                  <span
                    class='badge text-bg-primary rounded-pill'
                  >Нове</span>
                {{/if}}
              </strong>

              <p class='mt-3'>{{description}}</p>

            </div>
          </div>
        </div>
      {{/each}}
    </div>

  {{/with}}

  <hr />
  <br />

  {{#with subscribe}}
    <div class='card text-bg-dark'>
      <div class='card-body'>
        <div>
          <h2>{{header}}</h2>
        </div>
        <p class='mt-3'>{{description}}</p>

        {{#each buttons}}
          <div class='btn btn-primary mb-2'>

            <a
              class='text-light'
              href='{{link}}'
            >{{text}}</a>

          </div>
          <br />
        {{/each}}
      </div>
    </div>

  {{/with}}
  <br />
  <hr />
  <br />

  {{#with service}}
    <div class='card text-center text-bg-success'>
      <div>
        <h2>{{title}}</h2>
      </div>

      <p class='my-3'>{{description}}</p>

      {{#each buttons}}
        <div>
          <a
            class='btn btn-primary mb-3'
            href='{{link}}'
          >{{text}}</a>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <br />
  <hr />
  <br />
  <div class='row'>
    {{#each footer}}
      <div class='col-2'>
        <div class='nav'>
          {{#each this}}
            <div class='nav-item'>
              {{#if @last}}
                <a
                  href='{{link}}'
                  class='nav-link disabled'
                >{{text}}</a>
              {{else}}
                <a
                  href='{{link}}'
                  class='nav-link'
                >{{text}}</a>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>

    {{/each}}
  </div>

</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}