<div class='row'>
  {{#each footer}}
    <div class='col-2'>
      <div class='nav'>
        {{#each this}}
          <div class='nav-item'>
            {{#if @last}}
              <a
                href='{{link}}'
                class='nav-link disabled'
              >{{text}}</a>
            {{else}}
              <a
                href='{{link}}'
                class='nav-link'
              >{{text}}</a>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>

  {{/each}}
</div>